aiocache
aiofiles
aiohttp
aiohttp_socks
cachetools
dhooks
fastapi
httpx
motor
numpy
openai
Pillow
pydantic
pymongo
python-dotenv
pytz
PyYAML
slowapi
Sphinx
starlette
tiktoken
ujson
alt-profanity-check